    body {
    background-image: url(img/fundo.gif);
    backdrop-filter: blur(6px);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Tektur', cursive;
    overflow-x:hidden;
    cursor: url(img/cursor.cur), default;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #a100a7;
}

header {
    padding: 10px;
    width: 100%;
    background-color: #000000;
    color: #a100a7;
    text-align: center;
    font-size: larger;
}


.menu {
    float: left;
    width: 100%;
    overflow: hidden;
    background-color: #5f0163;
    text-align: center;
}

nav a {
    float: left;
    text-align: center;
    color: #ffffff;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
    cursor: url(img/pointer.cur), pointer;
}

nav a:hover {
    background-color: #ffffff59;
}

.Sobre {
    padding: 10px;
    background-color: #600163a1;
    width: 1000px;
    margin-top: 10%;
    margin-left: 15px;
}

.Sobre h2 {
    color: #fcffff;
    text-align: center;
    font-size: 5px;
}

.Sobre p {
    padding: 10px;
    color: #ffffff;
    text-align: center;

}

.Sobre a {
    color: #ff003c;
    text-decoration: none;
    cursor: url(img/pointer.cur), pointer;
}

.nico {
    width: 300px;
    margin-left: 75%;
    margin-top: -20%;
}


.Conhecimentos {
    padding: 10px;
    background-color: #600163a1;
    width: 900px;
    margin-top: 10%;
    margin-left: 17%;
}

.Conhecimentos h2 {
    color: #ffffff;
    text-align: center;
    font-size: 5px;
}

.Conhecimentos p {
    color: #ffffff;
}

.Conhecimentos a {
    text-decoration: none;
    color: #ff003c;
    cursor: url(img/pointer.cur), pointer;
}

.Conhecimentosimg {
    width: 100px;
    padding: 1rem;
    margin-left: 130px;
}

.pc {
    margin-left: 350px;
}

.programador {
    margin-left: -56%;
    margin-top: -35%;
    width: 255px;
}

.programador-cubo {
    margin-left: 40%;
}

.Contato {
    padding: 10px;
    background-color: #600163a1;
    width: 700px;
    margin-top: 10%;
    margin-left: 28%;
    text-align: center;
}

.Contato h2 {
    color: #ffffff;
    text-align: center;
    font-size: 5px;
}

.Contato p {
    color: #fff;
}

.insta {
    width: 80px;
    display: inline-block;
    margin-right: 80px;
    margin-top: 4%;
}

.linkedin {
    width: 60px;
    display: inline-block;
    margin-right: 80px;
    margin-bottom: 6px;
}

.github {
    width: 60px;
    display: inline-block;
    margin-bottom: 6px;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #000000;
    color: #fff;
    text-align: center;
    bottom: 0;
    left: 0;
}

  .espaco {
    width: 100%;
    height: 580px;
  }
